.footer-end {
  background: var(--green-light);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.footer-end p {
  padding: 0 0 23px 34px;
}

.footer-image-logo-title {
  width: 25%;
  margin: auto;
  padding-top: 51px;
  padding-bottom: 23px;
}

.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-text {
  margin: 11px 90px 26px 0px;
}

.footer-container-shop-book {
  display: flex;
  flex-direction: row;
}

.footer-book-mockup {
  width: 105%;
  margin-top: -80px;
  margin-left: -50px;
}

.footer-text-technique {
  margin-top: 6px;
}

.footer-features {
  margin-top: 11px;
  margin-bottom: 36px;
}
