.header-title-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-intro {
  width: 60%;
}

.header-butterfly {
  width: 60%;
}

.header-scroll-butterfly {
  position: absolute;
  top: 300px;
}