.main-quote p {
  color: var(--black, #000);
  text-align: center;
  font-family: "Instrument Serif";
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.main-quote span {
  font-size: 36px;
  font-style: italic;
}

.main-quote {
  margin-top: 346px;
  margin-bottom: 169px;
}
