.scroll-1,
.scroll-2,
.scroll-3,
.scroll-4,
.scroll-5,
.scroll-6,
.scroll-7,
.scroll-8 {
  opacity: 0;
  margin: 50px 50px 0 50px;
}

.scroll-container {
  display: flex;
  flex-direction: row;
}

.scroll-4 {
  margin: 200px;
}
