* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-light: #bad6ca;
  --black: #000000;
  --grey: #e6edea;
  --white: #ffffff;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid var(--black);
}

footer {
  background: var(--grey);
}

h1 {
  font-family: "Instrument Serif";
  font-size: 96px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding: 40px 0 0 55px;
}

h2 {
  font-family: "Instrument Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 97px 0 32px;
}

h3 {
  color: var(--black, #000);
  font-family: "Instrument Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.white {
  height: 300px;
}

video {
  display: flex;
  align-self: center;
}

header img {
  border: none;
}

footer img {
  border: none;
}
